.category_container {
    margin-bottom: 40px;
}

.title{
    font-size:24px;
    font-weight: 600;
    line-height: 24.38px;
    color: var(--title);
    margin-bottom: 20px;
}

.product_list {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}