
.button_container {
    padding:20px;
}
.button {
    position: relative;
    width: 22px;
    height: 20px;
}
.badge {
    border-radius: 50%;
    background-color: var(--text-secondary);
    width: 17px;
    height: 17px;
    position: absolute;
    top: -9px;
    right: -11px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
}